/* Global classes for all views */

body{
    font-family: "Calibri Light", sans-serif;
}

.text-bean {
    color: #ff4a33;
}

.text-bold {
    font-weight: bold;
}

.card-header{
    background: white;
}

.card-footer {
    background: white;
}

.btn {
    margin-left: 20px;
}

.btn-bean {
    background: rgba(255, 74, 51, 0.85);
    color: white;
}

.btn-second {
    background-color: #b2b2b2;
    color: white;
}

/* ------------------------------------------------------- */

/* For main page with all topics */

/* Topic Classes */

.top-left-rounded {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.topic {
    text-decoration: none;
    display: grid;
    margin: 10px;
    width: 400px;
    grid-template-rows: 50% 25% 25%;
    height: 430px;
}

.topic .card-body {
    padding-top: 10px;
    padding-bottom: 10px;
}

.topic a {
    padding: 0;
}

.topic a img {
    padding: 0;
    width: 100%;
    height: 100%;
}

.topic-title {
    font-size: 20px;
}

.topic .card-footer{
    overflow: hidden;
}

/* Topic IDs */

#topic-container {
    padding: 5% 10%;
}

#header {
    margin-bottom: 50px;
}

#header-text {
    font-size: 30px;
    color: #b2b2b2;
}

#black-logo {
    height: 3rem;
    width: 20rem;
    display: inline-block;
}

#black-logo img {
    width: 100%;
    height: 100%;
}

#add-button {
    border-radius: 100px;
    float: right;
    border: 2px solid #ff4a33;
    height: 85px;
    width: 85px;
    display: flex;
    padding-top: 17px;
    text-align: center;
    text-decoration: none;
}

#add-button:hover{
    background-color: #ff4a33;
    border-color: white;
    color: white;
}

#topics {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* ----------------------------------------------------------- */

/* For addition topic page. */

/* Addition Topic Classes */

input[type="file"] {
    display: none;
}

.custom-file-upload {
    display: inline-block;
    padding: 0;
    cursor: pointer;
}

.custom-file-upload img {
    margin: 0;
    padding: 0;
    height: 38px;
}

/* Addition Topic IDs */

#add-container {
    padding: 5% 30%;
}

#form-header {
    font-size: 30px;
    margin-bottom: 10px;
}

/* ------------------------------------------------------------------ */

/* For Success Information Page */

/* Success Classes */


/* Success Ids */

#logo-success {
    display: flex;
    padding-top: 15em;
    margin: auto;
}

#text-success {
    font-size: 30px;
    text-align: center;
}

/* ------------------------------------------------------------------ */

/* For Detail Page */

/* Detail Classes */

.detail-image {
    width: 100%;
    border-radius: 20px;
}

.message-input-width {
    display: inline-block;
    width: 5em;
}

.container-sm {
    height: 4em;
    width: 4em;
}

.message {
    display: grid;
    grid-template-columns: 1fr 11fr 1fr;
    margin-top: 2em;
}

.message-date {
    font-size: 10px;
}

.msg-icon {
    margin: 0;
}

.msg-icon img {
    width: 100%;
    height: 100%;
}

/* Detail Ids*/

#detail-container {
    max-width: 1150px;
    margin-top: 5%;
}

#detail-container .card-body {
    white-space: pre-line;
}

#detail-title {
    font-size: 40px;
}

#message-field-group{
    display: inline-flex;
    width: 84%
}

#message-field-group input:last-of-type{
    flex: 1 1 70%;
}

#message-submit {
    margin-left: 1em;
    border-radius: 10px;
}

/* ------------------------------------------------------------------ */















